#download-app-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.app-feature h3::after {
    content: '\002B9A';
    padding-right: 10px;
}

.app-feature {
    display: flex;
    align-items: center;
}

#download-app-button {
    color: white;
    background: black;
    border-radius: 40px;
    padding: 0 40px;
    margin-top: 25px;
}

#download-app-button:hover {
    cursor: pointer;
    background: grey;
    color: black;
}

@media only screen and (max-width: 560px) {
    #download-app-button {
        font-size: 10px;
    }
}

@media only screen and (min-width: 560px) {
    #download-app-button {
        font-size: 15px;
    }
}
