#sponsor-us-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sponsor-us-input {
    font-size: 15px;
    padding: 10px;
    margin: 5px;
}

.sponsor-us-input[data-smaller] {
    width: 300px;
}

.sponsor-us-input[data-medium] {
    width: 450px;
}

.sponsor-us-input[data-larger] {
    width: 600px;
    height: 300px;
    margin-bottom: 0px;
    resize: none;
}

#register-sponsorship {
    color: white;
    background: black;
    border-radius: 40px;
    padding: 0 40px;
    margin-top: 15px;
    margin-bottom: 40px;
}

#register-sponsorship:hover {
    cursor: pointer;
}
