#home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.feed-outer {
    elevation: higher;
    box-shadow: 0 0 5px #CCCCCC;
    border-radius: 30px;
    width: 100%;
    margin: 5px 10px 5px 10px;
    padding: 0 10px;
}

#close-button {
    height: min(30px, 7.5vw);
    border-radius: min(15px, 3.75vw);
    margin-right: 10px;
    position: absolute;
    right: 0;
}

#close-button:hover {
    cursor: pointer;
    background: #CCCCCC;
}

#home-selected-feed-outer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    elevation: below;
    z-index: -1;
}