#home-feed-1 {
  display: flex;
  justify-content: center;
  width: 65%;
}

#home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.home-card {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 10px #cccccc;
  padding: 16px;
  border-radius: 20px;
  width: 50%;
}

.home-card div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.home-card div:first-child p {
  text-align: "end"; 
  position: "absolute";
  right: "0"; 
  margin: "0";
}

.feed-outer {
  box-shadow: 0 0 5px #cccccc;
  border-radius: 30px;
  width: 100%;
  margin: 5px 10px 5px 10px;
  padding: 0 50px 30px;
}

#close-button {
  height: min(30px, 7.5vw);
  border-radius: min(15px, 3.75vw);
  margin-right: 10px;
  position: absolute;
  right: 0;
}

#close-button:hover {
  cursor: pointer;
  background: #cccccc;
}

#home-selected-feed-outer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 0;
}

@media only screen and (width < 1560px) {
  .home-card div:first-child {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-card div:first-child p {
    text-align: "end"; 
    position: "absolute";
    right: "0"; 
    margin: "0";
  }
}

@media only screen and (width < 1000px) {
  #home-feed-1 {
    width: 100%;
    flex-direction: column;
    align-content: center;
  }

  .home-card {
    width: 90%;
    margin: 5%;
  }

  iframe {
    margin-top: 10px;
    height: 1000px !important;
  }
}
