.navbar-option {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1D1D1D;
    transition: background 0.5s ease, color 0.3s ease;
}

.navbar-option[data-selected="true"] {
    background: #00ffff;
    color: rgb(0, 0, 0);
}

.navbar-option[data-selected="false"] {
    background: black;
    color: white;
}

.navbar-option:hover {
    background: #151515;
    color: #00ffff;
    cursor: pointer;
    border: 3px solid #ffffff; 
    box-sizing: border-box; 
}
