nav {
    display: flex;
    flex-direction: column;
    elevation: above;
    box-shadow: 0 10px 10px #BBBBBB;
    background: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#navbar-ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    height: 5vh;
    overflow: hidden;
}

#navbar-ul * {
    padding: 1rem;
}

#sponsor-place {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    flex-grow: 1;
}

#top-bar {
    display: flex;
    height: 15vh;
    background: black;
}

#navbar-tab-container {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.sponsor {
    display: flex;
    color: white;
    align-items: center;
    padding: 0 10px;
}

#img-only-logo {
    animation: rotate 2s infinite;
    height: 10vh;
}

#no-sponsors-text {
    padding-right: 7px;
}

@keyframes rotate {
    0%, 100% {
        rotate: 0deg;
    }
    50% {
        rotate: 360deg;
    }
}

#more-div, #small-navbar {
    display: none;
}

#more-div:hover {
    color: black;
    background: grey;
}

#logo-large-container {
    display: flex;
    flex-direction: column;
    color: white;
    height: 15vh;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1360px) {
    #more-div, #small-navbar {
        display: flex;
        flex-direction: column;
    }

    #more-div {
        align-items: center;
        -webkit-align-items: center;
        background: black;
        color: white;
        font-weight: bold;
    }

    #navbar-ul {
        display: none;
    }

    header {
        margin-top: 25vh;
    }
}

@media only screen and (min-width: 1360px) {
    #more-div, #small-navbar {
        display: none;
    }

    #navbar-ul {
        display: flex;
    }

    header {
        margin-top: 20vh;
    }
}
